<!DOCTYPE html>

<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Learn The Notes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module"src="{% static 'fretboard_exercises/detect_pitch.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fretboard_exercises/styles.css' %}">
</head>
<body>
    <div id="message">
        <h4 id="alert-warning"></h4>
    </div>
    <div id="outer_div" class="card">
        <form id="new_note_form" method="post" action="new_note/">
            {% csrf_token %}
            <fieldset id="strings_fieldset">
                <legend>Strings</legend>
                <input type="checkbox" name="strings" value="1" checked>
                <label>1  </label>
                <input type="checkbox" name="strings" value="2" checked>
                <label>2  </label>
                <input type="checkbox" name="strings" value="3" checked>
                <label>3  </label>
                <input type="checkbox" name="strings" value="4" checked>
                <label>4  </label>
                <input type="checkbox" name="strings" value="5" checked>
                <label>5  </label>
                <input type="checkbox" name="strings" value="6" checked>
                <label>6  </label>
            </fieldset>
            <fieldset id="notes_fieldset">
                <legend>Notes</legend>
                <input type="checkbox" name="notes" value="C" checked>
                <label>C  </label>
                <input type="checkbox" name="notes" value="D" checked>
                <label>D  </label>
                <input type="checkbox" name="notes" value="E" checked>
                <label>E  </label>
                <input type="checkbox" name="notes" value="F" checked>
                <label>F  </label>
                <input type="checkbox" name="notes" value="G" checked>
                <label>G  </label>
                <input type="checkbox" name="notes" value="A" checked>
                <label>A  </label>
                <input type="checkbox" name="notes" value="B" checked>
                <label>B  </label>
            </fieldset>
            <br>
            <button id="begin_button" type="submit" disabled="true">Begin Challenge</button>
        </form>
    </div>
    <div id="challenge_results" class="card">
        <div id="note_info_display">
            <h4 id="high_score">High Score: 0</h4>
            <h4 id="score">Score: ---</h4>
            <h4 id="timer">Time Left: ---</h4>
            <h4 id="instruction">Instruction: ---</h4>
            <h4 id="target_frequency">Target Frequency: ---</h4>
        </div>
        <p id="frequency">Measured Frequency: ---</p>
    </div>
</body>
</html>

<!--todo make a base template that includes a message header-->